<div class="d-flex h-100"
style="background-image: url(./assets/name.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;">
  <div class="container mt-auto mb-auto" style="margin-left: 10%; margin-right: 10%;">
    <div class="row">
      <div class="col-12">
        <div class="input-group">
          <input type="text" [(ngModel)]="name"
            class="form-control" placeholder="请输入你的名字"
            aria-label="Username" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="col-12 mt-3">
        <div class="input-group">
          <input type="text" [(ngModel)]="country"
            class="form-control" placeholder="你所留学的国家"
            aria-label="country" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="col-12 mt-3 text-center">
        <button type="button" class="btn btn-secondary {{name && country ? '' : 'disabled'}}"
          (click)="submit()">
          开始
        </button>
      </div>
    </div>
  </div>
</div>

