<div class="w-100 h-100 bg-dark text-white">
  <ng-container *ngIf="step === 1">
    <app-home (nextStep)="nextStep()"></app-home>
  </ng-container>
  <ng-container *ngIf="step === 2">
    <app-name (nextStep)="nextStep()"></app-name>
  </ng-container>
  <ng-container *ngIf="step === 3">
    <app-list (nextStep)="nextStep()"></app-list>
  </ng-container>
  <ng-container *ngIf="step === 4">
    <app-result [mustdo]="mustdo" [queryParams]="queryParams"></app-result>
  </ng-container>

  <!-- <ng-container *ngIf="mode === 'fill'">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <div class="card" style="width: 100%">
          <img src="{{current?.img}}" class="card-img-top" alt="img">
          <div class="card-body" style="text-align: center;">
            <h5 class="card-title">{{current?.title}}</h5>
            <p class="card-text"></p>
            <button (click)="next(1)" class="btn btn-primary mr-3">做过</button>
            <button (click)="next(0)" class="btn btn-primary">还没做过</button>
          </div>
        </div>
      </div>
    </div>
  </ng-container> -->


</div>

