<div class="list-container">
  <div class="list-header bg-secondary">
    <div class="row px-1 py-1">
      <div class="col-6 d-flex align-items-center justify-content-center">
        <h3>{{queryParamsService.queryParams["name"]}}</h3>
      </div>
      <div class="col-6 d-flex align-items-center justify-content-center">
        <div class="bg-danger text-center px-2 py-2">
          {{numOfSelected}}<br/>已完成
        </div>
      </div>
    </div>

  </div>
  <div id="auto-scroll-list" class="list-body">
    <div *ngIf="mustdoSerivce.mustdo">
      <div class="my-5 d-flex" *ngFor="let ques of mustdoSerivce.mustdo.questions2"
        (click)="select(ques.id)">
        <ng-container *ngIf="ifSelect(ques.id)">
          <div class="ques-img-2"
            style="{{mustdoSerivce.getCoordinate2(ques, 'questions2')}}">
          </div>
        </ng-container>
        <ng-container *ngIf="!ifSelect(ques.id)">
          <span class="mr-auto ml-auto">{{ques.title}}</span>
        </ng-container>
      </div>
      <div class="my-5 d-flex" *ngFor="let ques of mustdoSerivce.mustdo.questions3"
        (click)="select(ques.id)">
        <ng-container *ngIf="ifSelect(ques.id)">
          <div class="ques-img-3"
            style="{{mustdoSerivce.getCoordinate2(ques, 'questions3')}}">
          </div>
        </ng-container>
        <ng-container *ngIf="!ifSelect(ques.id)">
          <span class="mr-auto ml-auto">{{ques.title}}</span>
        </ng-container>
      </div>
      <div class="my-5 d-flex" *ngFor="let ques of mustdoSerivce.mustdo.questions4"
        (click)="select(ques.id)">
        <ng-container *ngIf="ifSelect(ques.id)">
          <div class="ques-img-4"
            style="{{mustdoSerivce.getCoordinate2(ques, 'questions4')}}">
          </div>
        </ng-container>
        <ng-container *ngIf="!ifSelect(ques.id)">
          <span class="mr-auto ml-auto">{{ques.title}}</span>
        </ng-container>
      </div>
      <div class="my-5 d-flex" *ngFor="let ques of mustdoSerivce.mustdo.questions"
        (click)="select(ques.id)">
        <ng-container *ngIf="ifSelect(ques.id)">
          <div class="ques-img"
            style="{{mustdoSerivce.getCoordinate(ques)}}">
          </div>
        </ng-container>
        <ng-container *ngIf="!ifSelect(ques.id)">
          <span class="mr-auto ml-auto">{{ques.title}}</span>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="list-footer text-center">
    <button type="button" class="btn btn-secondary" (click)="nextStep.emit(true)">完成选择</button>
  </div>
</div>


