/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap";

html,body {
  height: 100vh;
}

.ques-img {
  margin-left: auto;
  margin-right: auto;
  background-image: url(./assets/all.jpeg);
  width: 133px;
  height: 133px;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.ques-img-2 {
  margin-left: auto;
  margin-right: auto;
  background-image: url(./assets/all2.png);
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: 300px 600px;
}

.ques-img-3 {
  margin-left: auto;
  margin-right: auto;
  background-image: url(./assets/all3.png);
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: 300px 600px;
}

.ques-img-4 {
  margin-left: auto;
  margin-right: auto;
  background-image: url(./assets/all4.png);
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: 300px 600px;
}
