/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap";

html,body {
  height: 100vh;
}

.ques-img {
  margin-left: auto;
  margin-right: auto;
  background-image: url(./assets/all.jpeg);
  width: 133px;
  height: 133px;
  background-repeat: no-repeat;
}
